@import "../variables";

nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2.25rem;
    header{
        text-transform: lowercase;
        font-size: map-get($font-sizes, "h1");
        line-height: map-get($line-heights, "h1");
        font-weight: map-get($font-weights, "bold");
        text-align: left;
    }
    .theme-mode{
        display: flex;
        justify-content: center;
        align-items: center;
        // text unselectable
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        span{
            text-transform: uppercase;
            font-size: map-get($font-sizes, "h4");
            line-height: map-get($line-heights, "h4");
            font-weight: map-get($font-weights, "bold");
            text-align: right;
            margin-right: 1rem;
        }
        img{
            max-width: 1.25rem;
            cursor: pointer;
        }
    }
    .theme-mode:hover{
        color: $light-grey;
        img{
            filter: brightness(0) saturate(100%) invert(50%) sepia(7%) saturate(1605%) hue-rotate(178deg) brightness(94%) contrast(87%);
        }
    }
}

// light mode

#light nav{
    header{
        color: $dark-greish-blue;
    }
    .theme-mode:hover{
        color: $dark-greish-blue;
        img{
            filter: brightness(0) saturate(100%) invert(6%) sepia(34%) saturate(2933%) hue-rotate(201deg) brightness(90%) contrast(89%);
        }
    }
}