@import "../variables";

.profile-card{
    display: grid;
    grid-template-areas: "img profile  profile"
                        "bio bio bio"
                        "stats  stats stats"
                        "contact contact contact";
    background-color: $greish-blue;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem 3rem 1.5rem;
    .profile-img{
        width: 4.375rem;
        border-radius: 50%;
        margin-right: 1.25rem;
        grid-area: img;
    }
    .profile{
        grid-area: profile;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: auto;
        margin-bottom: 2.125rem;
        .profile-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h1.username{
                font-size: map-get($font-sizes, "h3");
                line-height: map-get($line-heights, "h3");
                font-weight: map-get($font-weights, "bold");
            }
            a.github-user{
                color: $light-blue;
                font-size: map-get($font-sizes, "body");
                line-height: map-get($line-heights, "body");
                font-weight: map-get($font-weights, "regular");
                text-decoration: none;
            }
            .joining-date{
                font-size: map-get($font-sizes, "body");
                line-height: map-get($line-heights, "body");
                font-weight: map-get($font-weights, "regular");
                white-space: nowrap;
            }
        }
    }
    
    .bio{
        grid-area: bio;
        width: 100%;
        max-height: 4.75rem;
        font-size: map-get($font-sizes, "body");
        line-height: map-get($line-heights, "body");
        font-weight: map-get($font-weights, "regular");
        text-align: left;
        margin-bottom: 1.5rem;
    }

    .stats{
        grid-area: stats;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $dark-greish-blue;
        height: 5.275rem;
        width: 100%;
        border-radius: 0.5rem;
        padding: 1rem 1.25rem;
        margin-bottom: 1.5rem;
        .data{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 3rem;
        }
        h4{
            margin-bottom: 0.5rem;
            font-size: map-get($font-sizes, "h4");
            line-height: map-get($line-heights, "h4");
            font-weight: map-get($font-weights, "regular");
        }
        span{
            font-size: map-get($font-sizes, "h3");
            line-height: map-get($line-heights, "h3");
            font-weight: map-get($font-weights, "bold");
        }
    }

    .contact-data{
        grid-area: contact;
        // flex contact data to left
        margin-right: auto;
        height: 8rem;
        .contact{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: map-get($font-sizes, "h4");
            line-height: map-get($line-heights, "h4");
            font-weight: map-get($font-weights, "regular");
            margin-bottom: 1rem;
            img{
                margin-right: 1.25rem;
                height: fit-content;
                filter: brightness(0) invert(1);
            }
        }
        .not-available{
            img{
                filter: brightness(0) saturate(100%) invert(50%) sepia(7%) saturate(1605%) hue-rotate(178deg) brightness(94%) contrast(87%);
            }
        }
    }
    .not-available{
        color: $light-grey;
     }
}

// light mode
#light .profile-card{
    background-color: $white;
    box-shadow: 0px 5px 5px 5px transparentize($greish-blue, 0.75);
    .profile{
        .username{
            color: $dark-greish-blue;
        }
    }
    .stats{
        background-color: $white;
        span{
            color: $dark-greish-blue;
        }
    }
    .contact{
        img{
            filter: brightness(0) saturate(100%) invert(6%) sepia(34%) saturate(2933%) hue-rotate(201deg) brightness(90%) contrast(89%);
        }
        
    }
    
    .not-available{
        color: $light-grey;
        img{
            filter: brightness(0) saturate(100%) invert(50%) sepia(7%) saturate(1605%) hue-rotate(178deg) brightness(94%) contrast(87%);   
        }
     }
}

// tablet view
@media screen and (min-width: $tablet) {
    .profile{
        margin-left: auto;
    }
    .profile-img{
        min-width: 7.325rem;
        margin-bottom: 1.5rem;
    }
    .stats{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: start !important;
        gap: 6.25rem;
    }
    .data{
        align-items: flex-start !important;
    }
    .contact-data{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contact{
        margin-bottom: 0rem !important;
        height: fit-content;
    }
 }

 // tablet view
@media screen and (min-width: $desktop) {
    .profile-card{
        display:grid;
        grid-template-areas: "img profile profile "
                             "img  bio bio"
                             "img  stats stats"
                             "img contact contact";
        min-height: 26.25rem !important;
        justify-content: start;
    }

    .profile{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .profile-wrapper{
        grid-area: profile;
        margin: 0 !important;
    }
    .profile-img{
        grid-area: img;
    }
    .profile-info{
        display: grid !important;
        grid-template-areas: "head head date "
                            "username username username";
        column-gap: 8.625rem;
        row-gap: 2px;
        grid-area: profile;
        h1{
            margin: 0;
            grid-area: head;
        }
        span{
            grid-area: date;
        }
        a{
            grid-area: username;
        }
    }
    .bio{
        grid-area: bio;
    }
    .stats{
        grid-area: stats;
    }
    .contact-data{
        grid-area: contact;
    }
 }